<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!--Breadcrumbs-->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- Mi sistema de Rutas -->
            <router-outlet></router-outlet>
        </div>
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 20XX Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>

<!-- La idea es que el componente de modalImage siempre este visisble dentro de -->
<!-- los componentes de pages para que cualquier componente que este dentro de pages pueda -->
<!-- realizar acciones en particular con la modal-->
<app-modal-imagen></app-modal-imagen>